html
{
	background: #eee;
	background-image: repeating-linear-gradient(90deg, transparent, transparent 10px, rgba(255,255,255,.5) 10px, rgba(255,255,255,.5) 20px);
	background-size: 36px 36px;
	width: 135px;
}
.unavailable-message
{
	display: none;
	font-family: Tahoma;
}
.players-unavailable .unavailable-message
{
	display: block;	
	font-size: 0.75em;
}
.load-indicator
{
	background: rgba(255, 255, 255, 0.75);
	display: none;
	padding: 0 0.25em;
	margin: 0.25em;
	text-align: center;
}
.loading .load-indicator
{
	display: inline-block;
}
button
{
	border: 1px solid #000;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	margin: 2px 0;
	padding: 0.25em;
	text-shadow: 1px 1px #000;
}
button:focus
{
	outline: none;
}
.amazon button
{
	background: #f90;
}
.spotify button
{
	background: #81b900;
}
.xbox button
{
	background: #107c10;
}
.youtube button
{
	background: #f00;
}
button.enabled
{
	box-shadow: inset 0 0 3em 0 rgba(0, 0, 0, 0.5);
}
	button > label
	{
		display: none;
	}
.invalid button
{
	display: none;
}
.invalid button.action-goto
{
	display: inline-block;
}
.invalid button.action-goto::after
{
	content: "Player not available";
	display: inline-block;
	text-align: left;
}
.invalid .currently-playing-thumbnail
{
	display: none;
}
.url
{
	display: none;
}
.currently-playing
{
	display: inline-block;
	font-family: Tahoma;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow: 1px 1px #fff;
	white-space: nowrap;
}
.currently-playing.artist
{
	font-size: 0.75em;
}
.currently-playing-thumbnail
{
	background: no-repeat;
	background-size: cover;
	height: 110px;
	position: relative;
	text-align: left;
	width: 100%;
}
	.currently-playing-thumbnail > .overlay
	{
		background: rgba(255, 255, 255, 0.75);
		bottom: 0;
		position: absolute;
		width: 100%;
	}


.marquee
{
	overflow: hidden;
}
	.marquee > .marquee-inner
	{
		display: inline-block;
		max-width: none;
		overflow: visible;
	}
	.marquee > .marquee-enabled
	{
		-webkit-animation: marquee 15s linear infinite;
		padding-left: 100%;
	}

@-webkit-keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}