<template id="t-player">
<div class="mc-player add-brand-class">
	<div class="player-source-details">
		<span class="url"></span>
		<div class="currently-playing-thumbnail">
			<div class="load-indicator"><i class="fa fa-cog fa-spin"></i></div>	
			<div class="overlay">
				<div class="marquee"><div class="currently-playing title marquee-inner"></div></div>
				<div class="currently-playing artist"></div>
			</div>
		</div>
	</div>
	<button data-action="play-pause" class="action-play" type="button" title="Play"><i class="fa fa-play fa-fw"></i><label>Play</label></button>
	<button data-action="play-pause" class="action-pause" type="button" title="Pause"><i class="fa fa-pause fa-fw"></i><label>Pause</label></button>
	<button data-action="previous" class="action-previous" type="button" title="Previous"><i class="fa fa-step-backward fa-fw"></i><label>Previous</label></button>
	<button data-action="next" class="action-next" type="button" title="Next"><i class="fa fa-step-forward fa-fw"></i><label>Next</label></button>
	<button data-action="mute" class="action-mute" type="button" title="Mute"><i class="fa fa-volume-up fa-fw"></i><label>Mute</label></button>
	<button data-action="mute" class="action-unmute" type="button" title="Unmute"><i class="fa fa-volume-off fa-fw"></i><label>Unmute</label></button>
	<button data-action="shuffle" class="action-shuffle" type="button" title="Shuffle"><i class="fa fa-random fa-fw"></i><label>Shuffle</label></button>
	<button data-action="repeat" class="action-repeat" type="button" title="Repeat"><i class="fa fa-refresh fa-fw"></i><label>Repeat</label></button>
	<button data-action="autoplay" class="action-autoplay" type="button" title="Autoplay"><i class="fa fa-refresh fa-fw"></i><label>Autoplay</label></button>
	<button data-action="goto" class="action-goto" type="button" title="View tab"><i class="fa fa-fw add-brand-icon-class"></i><label>View tab</label></button>
</div>
</template>